*{
    box-sizing: border-box;
    margin: 0;
}
.menu{
    float: left;
    width: 25%;
    overflow: hidden;
}
.menu{
    background-color: #181b33;
    color: rgb(17, 1, 31);
    text-decoration: none;
    padding: 10px;
    display: block;
}
.barr{
    background: #090c22;
    padding: 15px;
    display: block;
    color: rgb(196, 174, 235);
    cursor: pointer;
    font-size: 1.5em;
    width: 100%;
}