*{
    box-sizing: border-box;
    margin: 0;
}
.menu{
    float: left;
    width: 25%;
    overflow: hidden;
}
.menu{
    background-color: rgba(1, 10, 32, 0.644);
    color: rgb(17, 1, 31);
    text-decoration: none;
    padding: 10px;
    display: block;
}
.menu :hover{
    background-color: rgba(17, 1, 31, 0.692);
    color: rgba(2, 16, 48, 0.747);
}
.barr{
    background: #090c22;
    padding: 15px;
    display: block;
    color: rgb(196, 174, 235);
    cursor: pointer;
    font-size: 1.5em;
    width: 100%;
}