.barr{
    background: #181b33;
    padding: 20px;
    display: block;
    color: rgb(209, 190, 243);
    cursor: pointer;
    font-size: 1.5em;
    width: 100%;
}
.menu .subMenu{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu{
    background: #232641;
    width: 100%;
    margin-left: -100%;
}
.menuLink{
    display: block;
    padding: 10px;
    color: #121427;
    font-size: 1.2em;
    text-decoration: none;
}
.subMenu{
    height: 0;
    overflow: hidden;
    transition: all 0.3;
}
.subMenu .menuLink{
    background: rgb(209, 190, 243);
    padding-left: 50px;
}
.menuLink:hover{
    background: #232641;
}
.mostrar{
    margin-left: 0;
}
@media(min-width:1024px){
    .barr{
        display: none;
    }
    .menu{
        margin-left: 0;
        display: flex;
    }
    .ConSubM{
        position: relative;
    }
    .subMenu{
        position: absolute;
        top: 80px;
        width: 400px;
        overflow: visible;
    }
}